html,
body {
  padding: 0;
  margin: 0;
  background-color: #1d1d1d;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:target {
  scroll-margin-top: 50px;
}
